<h1> Services </h1>


<ul>
<% @properties.each do |property| %>
  <h3><%=property.name%></h3>
  <% property.services.each do |service| %>
    <li><%= link_to service.appointment, service_path(service) %></li>
<% end %>
<%end%>

</ul>
<%= link_to "Back to your show", client_path(session[:user_id]) %>
<%= link_to "Add New Service", new_service_path %>
