<h1> SHOW ALL </h1>


<ul>
<% serve = @services.each do |service| %>
  <li><%= link_to service.property.address, service_path(service) %></li>
<% end %>

</ul>

<%= link_to "Add New Service", new_service_path %>
