<h1> SHOW </h1>

<%= @client.username %>

<%= link_to @client.property.username, property_path %>

<%= link_to "Edit this Client", edit_client_path %>

<%= link_to "<-Return to Clients", clients_path %>
